# Ignore simulation output files
compile.log
sim.log
transcript
vsim.wlf
*.vstf
*.log

# Ignore Questa libraries
work/
modelsim.ini

# Ignore waveform dumps
dump.vcd

# Ignore trace/debug db
tr_db.log
